    .card-img-top {
        width: 200px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: 200px;
        object-fit: cover;
    }
    .card{
        width: 18rem;
    }